{% extends "AppCoder/padre.html" %}


{% load static %} 

{% block botones %}

<li class="nav-item"><a class="nav-link" href="{% url 'Compus' %}">Computadora</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'Perif' %}">Perifericos</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'Platfo' %}">Plataforma</a></li>

{% endblock botones %}



{% block titulo%}
  
Monteverde

{% endblock titulo%}

{% block subtitulo%}
  
Tu web de confianza

{% endblock subtitulo%}

{% block formu %}


{% endblock formu %}